.services {
	display: flex;
	justify-content: center;
	width: 100vw;

	&__container {
		max-width: 1200px;
		width: 100%;

		.services__category {
			padding: 25px;
			width: 100%;

			h2 {
				color: var(--palette-dark);
			}

			&-item-container {
				border-bottom: 1px solid var(--palette-grey-1);

				.services__category-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					padding: 25px 15px;

					&-button {
						margin-right: 15px;
						height: 100%;

						.arrow--down {
							cursor: pointer;
							transform: rotate(0deg);
							fill: var(--palette-dark);
						}
					
						.arrow--up {
							cursor: pointer;
							transform: rotate(180deg);
							fill: var(--palette-dark);
						}
					}

					&-name {
						width: 100%;
						display: block;
						font-size: 18px;
						margin-right: 10px;
					}

					&-price {
						display: block;
						font-size: 18px;
						white-space: nowrap;
						color: var(--palette-dark);
						font-weight: 500;
					}

					&-info {
						padding: 15px;

						.services__category-item-place {
							display: flex;
							align-items: center;
							justify-content: space-between;
							margin-bottom: 20px;

							span {
								font-size: 18px;
								display: block;
							}
						}
					}
				}
			}
		}
	}
}