.button{
	padding: 20px 40px;
	font-size: 2.5dvh;
	border: 2px solid var(--palette-middle);
	border-radius: 50px;
	font-family: 'Montserrat';
	font-weight: 500;
	max-width: 300px;
	width: 100%;
}

@media (max-width: 768px) {
	.button {
		padding: 15px 35px;
	}
}