.whatsapp__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
	background-image: url('../../assets/1234.jpg');
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 25px;
	box-sizing: border-box;

	.whatsapp__container {
		flex: 1;
		padding: 25px;
		width: 100%;
		max-width: 450px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--palette-grey-2);
		border-radius: 11px;

		h2 {
			margin: 0 0 30px 0;
			color: var(--palette-dark);
		}

		input {
			height: 60px;
			width: 100%;
			max-width: 400px;
			margin: 0 0 20px 0;
			border-radius: 11px;
			border: 1px solid var(--palette-grey-2);
			font-size: 17px;
			padding: 0 10px;
			box-sizing: border-box;
		}

		textarea {
			height: 100px;
			width: 100%;
			max-width: 400px;
			margin: 0 0 20px 0;
			border-radius: 11px;
			border: 1px solid var(--palette-grey-2);
			font-size: 17px;
			padding: 10px;
			box-sizing: border-box;
			resize: none;
		}

		button {
			height: 60px;
			width: 100%;
			max-width: 300px;
			background-color: var(--palette-middle);
			color: var(--palette-white);
			font-size: 18px;
			border-radius: 11px;
		}
	}
}