@font-face {
  font-family: "Czizh";
  src: url("./fonts/ofont.ru_Czizh.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;

  button {
    border: none;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
  }

  p {
    margin: 0;
  }

  ul, ol, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
    color: #393a3e;
  }
}

#root {
  margin: 0;
}

:root {
  --palette-live-blue: #0085F4;
  --palette-middle: #57b6cb;
  --palette-white: #FDFDFD;
  --palette-dark: #28798c;
  --palette-grey-0: #393a3e;
  --palette-grey-1: #c1c2c3;
  --palette-grey-2: #E1E4E5;
  --palette-white: #fff;
}