.accordion{
	width: 100%;

	.accordion__item {
		height: 50px;
		border: 1px solid var(--palette-dark);

		.accordion__trigger{
			height: 50px;
			width: 100%;
			background-color: transparent;
		}
	}
}